<header class="header">
    <div class="container">
        
        <a href="/" class="logo"> 
            <img src="IsoType.svg" class="logosvg" alt="logo" height="50" width="100"/>
        </a>
        <nav>
            <ul class="nav-menu">
                <li><NavLink href="/" class="nav-link" Match="NavLinkMatch.All">Home</NavLink></li>
                <li><NavLink href="/nosotros" class="nav-link">Nosotros</NavLink></li>
                <li><NavLink href="/productos" class="nav-link">Productos</NavLink></li>
                <li><NavLink href="/blog" class="nav-link">Blog</NavLink></li>
                <li><NavLink href="/contact" class="nav-link">Contacto</NavLink></li>
            </ul>
        </nav>
    </div>
</header>

@code {
    // Optional: Add logic here if needed
}